//
//  AGCredentials.m
//  AmazonGlacier
//
//  Created by Victor Ilyukevich on 8/27/12.
//  Copyright (c) 2012 Open Source Community. All rights reserved.
//

#import "AGCredentials.h"

NSString *const kAmazonAccountID = @"611419566122";
NSString *const kAmazonAccessKey = @"AKIAJUQQW4VKDV4LLK3Q";
NSString *const kAmazonSecretKey = @"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";
